        <script src="/rhythm/js/jquery.min.js"></script>
        <script src="/rhythm/js/jquery.easing.1.3.js"></script>
        <script src="/rhythm/js/bootstrap.bundle.min.js"></script>
        <script src="/rhythm/js/SmoothScroll.js"></script>
        <script src="/rhythm/js/jquery.scrollTo.min.js"></script>
        <script src="/rhythm/js/jquery.localScroll.min.js"></script>
        <script src="/rhythm/js/jquery.viewport.mini.js"></script>
        <script src="/rhythm/js/jquery.countTo.js"></script>
        <script src="/rhythm/js/jquery.appear.js"></script>
        <script src="/rhythm/js/jquery.parallax-1.1.3.js"></script>
        <script src="/rhythm/js/jquery.fitvids.js"></script>
        <script src="/rhythm/js/owl.carousel.min.js"></script>
        <script src="/rhythm/js/isotope.pkgd.min.js"></script>
        <script src="/rhythm/js/imagesloaded.pkgd.min.js"></script>
        <script src="/rhythm/js/jquery.magnific-popup.min.js"></script>
        <script src="/rhythm/js/masonry.pkgd.min.js"></script>
        <script src="/rhythm/js/jquery.lazyload.min.js"></script>
        <script src="/rhythm/js/wow.min.js"></script>
        <script src="/rhythm/js/morphext.js"></script>
        <script src="/rhythm/js/typed.min.js"></script>
        <script src="/rhythm/js/all.js"></script>
        <script src="/rhythm/js/contact-form.js"></script>
        <script src="/rhythm/js/jquery.ajaxchimp.min.js"></script>
        <script src="/rhythm/js/objectFitPolyfill.min.js"></script>
        <script src="/rhythm/js/splitting.min.js"></script>
