            <!-- Navigation panel -->
            <nav class="main-nav dark transparent stick-fixed wow-menubar">
                <div class="full-wrapper relative clearfix">

                    <!-- Logo ( * your text or image into link tag *) -->
                    <div class="nav-logo-wrap local-scroll">
                        <a href="index.html" class="logo">
                            <img src="{{ meta.siteImage }}" alt="Company logo" width="188" height="37" />
                        </a>
                    </div>

                    <!-- Mobile Menu Button -->
                    <div class="mobile-nav" role="button" tabindex="0">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Menu</span>
                    </div>

                    <!-- Mobile Cart -->
                    <a href="shop-cart-dark.html" class="mobile-cart"><i class="main-nav-icon-cart"></i> (0)</a>

                    <!-- Main Menu -->
                    <div class="inner-nav desktop-nav">
                        <ul class="clearlist">

                            <!-- Item With Sub -->
                            <li>
                                <a href="#" class="mn-has-sub active">Home <i class="mn-has-sub-icon"></i></a>

                                <!-- Sub Multilevel -->
                                <ul class="mn-sub mn-has-multi">

                                    <!-- Sub Column -->
                                    <li class="mn-sub-multi">
                                        <a class="mn-group-title" href="intro-dark.html#multi-page">Multi Page</a>

                                        <ul>
                                            <li>
                                                <a href="mp-index-dark.html">Main Demo</a>
                                            </li>
                                            <li>
                                                <a href="#" title="Isn't available in the dark version">Image Parallax 1 🚫</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-02-dark.html">Image Parallax 2</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-03-dark.html">Image Parallax 3</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-04-dark.html">Image Parallax 4</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-06-dark.html">Image Parallax 5</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-12-dark.html">Fullwidth Image</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-05-dark.html">Text Rotator</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-15-dark.html">Typed Text</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-07-dark.html">Slider Fullscreen</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-08-dark.html">Slider Zoom Effect</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-09-dark.html">Slider Fullwidth</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-10-dark.html">Slider Background</a>
                                            </li>
                                        </ul>

                                    </li>
                                    <!-- End Sub Column -->

                                    <!-- Sub Column -->
                                    <li class="mn-sub-multi">
                                        <a class="mn-group-title">&nbsp;</a>

                                        <ul>
                                            <li>
                                                <a href="mp-index-17-dark.html">Slider Animation 1</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-18-dark.html">Slider Animation 2</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-20-dark.html">Content Slider</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-11-dark.html">With Play Button</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-13-dark.html">BG Video Fullwidth</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-14-dark.html">BG Video Fullscreen</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-19-dark.html">BG HTML5 Video</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-23-dark.html">Floating Image</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-24-dark.html">Floating Images</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-21-dark.html">Wave Edge</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-22-dark.html">Round Edge</a>
                                            </li>
                                            <li>
                                                <a href="mp-index-16-dark.html">Agency Header</a>
                                            </li>
                                            <li>
                                                <a href="intro.html">Light Version <span class="label-new round">Hot</span></a>
                                            </li>
                                        </ul>

                                    </li>
                                    <!-- End Sub Column -->


                                    <!-- Sub Column -->
                                    <li class="mn-sub-multi">
                                        <a class="mn-group-title" href="intro-dark.html#one-page">One Page</a>

                                        <ul>
                                            <li>
                                                <a href="index-dark.html">Main Demo</a>
                                            </li>
                                            <li>
                                                <a href="#" title="Isn't available in the dark version">Image Parallax 1 🚫</a>
                                            </li>
                                            <li>
                                                <a href="index-02-dark.html">Image Parallax 2</a>
                                            </li>
                                            <li>
                                                <a href="index-03-dark.html">Image Parallax 3</a>
                                            </li>
                                            <li>
                                                <a href="index-04-dark.html">Image Parallax 4</a>
                                            </li>
                                            <li>
                                                <a href="index-06-dark.html">Image Parallax 5</a>
                                            </li>
                                            <li>
                                                <a href="index-12-dark.html">Fullwidth Image</a>
                                            </li>
                                            <li>
                                                <a href="index-05-dark.html">Text Rotator</a>
                                            </li>
                                            <li>
                                                <a href="index-15-dark.html">Typed Text</a>
                                            </li>
                                            <li>
                                                <a href="index-07-dark.html">Slider Fullscreen</a>
                                            </li>
                                            <li>
                                                <a href="index-08-dark.html">Slider Zoom Effect</a>
                                            </li>
                                            <li>
                                                <a href="index-09-dark.html">Slider Fullwidth</a>
                                            </li>
                                            <li>
                                                <a href="index-10-dark.html">Slider Background</a>
                                            </li>
                                        </ul>

                                    </li>
                                    <!-- End Sub Column -->

                                    <!-- Sub Column -->
                                    <li class="mn-sub-multi">
                                        <a class="mn-group-title">&nbsp;</a>

                                        <ul>
                                            <li>
                                                <a href="index-17-dark.html">Slider Animation 1</a>
                                            </li>
                                            <li>
                                                <a href="index-18-dark.html">Slider Animation 2</a>
                                            </li>
                                            <li>
                                                <a href="index-20-dark.html">Content Slider</a>
                                            </li>
                                            <li>
                                                <a href="index-11-dark.html">With Play Button</a>
                                            </li>
                                            <li>
                                                <a href="index-13-dark.html">BG Video Fullwidth</a>
                                            </li>
                                            <li>
                                                <a href="index-14-dark.html">BG Video Fullscreen</a>
                                            </li>
                                            <li>
                                                <a href="index-19-dark.html">BG HTML5 Video</a>
                                            </li>
                                            <li>
                                                <a href="index-23-dark.html">Floating Image</a>
                                            </li>
                                            <li>
                                                <a href="index-24-dark.html">Floating Images</a>
                                            </li>
                                            <li>
                                                <a href="index-21-dark.html">Wave Edge</a>
                                            </li>
                                            <li>
                                                <a href="index-22-dark.html">Round Edge</a>
                                            </li>
                                            <li>
                                                <a href="index-16-dark.html">Agency Header</a>
                                            </li>
                                            <li>
                                                <a href="intro.html">Light Version <span class="label-new round">Hot</span></a>
                                            </li>
                                        </ul>

                                    </li>
                                    <!-- End Sub Column -->

                                </ul>
                                <!-- End Sub Multilevel -->

                            </li>
                            <!-- End Item With Sub -->


                            <!-- Item Without Sub -->
                            <li>
                                <a href="#" class="mn-has-sub">Elements</i></a>

                            </li>
                            <!-- End Item With Sub -->

                            <!-- Item With Sub -->
                            <li>
                                <a href="#" class="mn-has-sub">Portfolio <i class="mn-has-sub-icon"></i></a>

                                <!-- Sub -->
                                <ul class="mn-sub">

                                    <li>
                                        <a href="#" class="mn-has-sub">Boxed <i class="mn-has-sub-icon-right right"></i></a>

                                        <ul class="mn-sub">
                                            <li>
                                                <a href="portfolio-boxed-2col-dark.html">2 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-boxed-3col-dark.html">3 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-boxed-4col-dark.html">4 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-boxed-5col-dark.html">5 Columns</a>
                                            </li>
                                            <li>
                                                <a href="#" title="Isn't available in the dark version">Black Hovers 🚫</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#" class="mn-has-sub">Boxed (Gutter) <i class="mn-has-sub-icon-right right"></i></a>

                                        <ul class="mn-sub">
                                            <li>
                                                <a href="portfolio-boxed-gutter-2col-dark.html">2 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-boxed-gutter-3col-dark.html">3 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-boxed-gutter-4col-dark.html">4 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-boxed-gutter-5col-dark.html">5 Columns</a>
                                            </li>
                                            <li>
                                                <a href="#" title="Isn't available in the dark version">Black Hovers 🚫</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#" class="mn-has-sub">Boxed (Titles) <i class="mn-has-sub-icon-right right"></i></a>

                                        <ul class="mn-sub">
                                            <li>
                                                <a href="portfolio-boxed-titles-2col-dark.html">2 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-boxed-titles-3col-dark.html">3 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-boxed-titles-4col-dark.html">4 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-boxed-titles-5col-dark.html">5 Columns</a>
                                            </li>
                                            <li>
                                                <a href="#" title="Isn't available in the dark version">Black Hovers 🚫</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#" class="mn-has-sub">Wide <i class="mn-has-sub-icon-right right"></i></a>

                                        <ul class="mn-sub">
                                            <li>
                                                <a href="portfolio-wide-2col-dark.html">2 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-wide-3col-dark.html">3 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-wide-4col-dark.html">4 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-wide-5col-dark.html">5 Columns</a>
                                            </li>
                                            <li>
                                                <a href="#" title="Isn't available in the dark version">Black Hovers 🚫</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#" class="mn-has-sub">Wide (Gutter) <i class="mn-has-sub-icon-right right"></i></a>

                                        <ul class="mn-sub">
                                            <li>
                                                <a href="portfolio-wide-gutter-2col-dark.html">2 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-wide-gutter-3col-dark.html">3 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-wide-gutter-4col-dark.html">4 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-wide-gutter-5col-dark.html">5 Columns</a>
                                            </li>
                                            <li>
                                                <a href="#" title="Isn't available in the dark version">Black Hovers 🚫</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#" class="mn-has-sub">Wide (Titles) <i class="mn-has-sub-icon-right right"></i></a>

                                        <ul class="mn-sub">
                                            <li>
                                                <a href="portfolio-wide-titles-2col-dark.html">2 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-wide-titles-3col-dark.html">3 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-wide-titles-4col-dark.html">4 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-wide-titles-5col-dark.html">5 Columns</a>
                                            </li>
                                            <li>
                                                <a href="#" title="Isn't available in the dark version">Black Hovers 🚫</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#" class="mn-has-sub">Masonry <i class="mn-has-sub-icon-right right"></i></a>

                                        <ul class="mn-sub">
                                            <li>
                                                <a href="portfolio-masonry-2col-dark.html">2 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-masonry-3col-dark.html">3 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-masonry-4col-dark.html">4 Columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-masonry-5col-dark.html">5 Columns</a>
                                            </li>
                                            <li>
                                                <a href="#" title="Isn't available in the dark version">Black Hovers 🚫</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#" class="mn-has-sub">Single <i class="mn-has-sub-icon-right right"></i></a>

                                        <ul class="mn-sub">
                                            <li>
                                                <a href="portfolio-single-1-dark.html">Single 1</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-single-2-dark.html">Single 2</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-single-3-dark.html">Single 3</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-single-4-dark.html">Single 4</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-single-5-dark.html">Single 5</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="portfolio-parallax-dark.html">Parallax</a>
                                    </li>

                                    <li>
                                        <a href="portfolio-promo-dark.html">Promo</a>
                                    </li>

                                    <li>
                                        <a href="portfolio-lazyload-dark.html">Lazyload</a>
                                    </li>

                                </ul>
                                <!-- End Sub -->

                            </li>
                            <!-- End Item With Sub -->


                            <!-- Divider -->
                            <li><a>&nbsp;</a></li>
                            <!-- End Divider -->

                            <!-- Search -->
                            {# <li>
                                <a href="#" class="mn-has-sub"><i class="main-nav-icon-search"></i> Search</a>

                                <ul class="mn-sub">

                                    <li>
                                        <div class="mn-wrap">
                                            <form method="post" class="form">
                                                <div class="search-wrap">
                                                    <input type="text" class="form-control search-field round" placeholder="Search...">
                                                    <button class="search-button animate" type="submit" title="Start Search">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </li>

                                </ul>

                            </li> #}
                            <!-- End Search -->

                            <!-- Cart -->
                            {# <li class="d-sm-none d-md-none d-lg-block">
                                <a href="shop-cart-dark.html"><i class="main-nav-icon-cart"></i> Cart</a>
                            </li> #}
                            <!-- End Cart -->

                            <!-- Languages -->
                            <li>
                                <a href="#" class="mn-has-sub">EN <i class="mn-has-sub-icon"></i></a>

                                <ul class="mn-sub">

                                    <li><a href="">English</a></li>
                                    <li><a href="">Nederlands</a></li>

                                </ul>

                            </li>
                            <!-- End Languages -->

                        </ul>
                    </div>
                    <!-- End Main Menu -->

                </div>
            </nav>
            <!-- End Navigation panel -->