<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}{% if page.url != '/' %} | {{ meta.siteName }}{% endif %}</title>
    <meta name="description" content="{% if meta.siteDescription %} | {{ meta.siteDescription }}{% endif %}">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/img/favicon.png">

    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    <!-- CSS -->
    <link rel="stylesheet" href="/rhythm/css/bootstrap.min.css">
    <link rel="stylesheet" href="/rhythm/css/style.css">
    <link rel="stylesheet" href="/rhythm/css/style-responsive.css">
    {# <link rel="stylesheet" href="/css/vertical-rhythm.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/splitting.css"> #}
</head>