                <!-- Shop Section -->
                <section class="page-section bg-dark light-content">
                    <div class="container relative">
                        
                        <div class="text-center mb-80 mb-sm-50">
                            <div class="row">
                                <div class="col-sm-6 offset-sm-3">
                                    <h2 class="section-title">Bestsellers</h2>
                                    <p class="section-title-descr">
                                        Our best selling products in this place.
                                    </p>
                                </div>
                                <div class="col-sm-3 text-sm-end pt-30 pt-xs-0">
                                    <a href="shop-columns-3col-dark.html" class="section-more">Our Shop <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                        
                            <!-- Shop Item -->
                            <div class="col-sm-6 col-md-3 col-lg-3 mb-md-50">
                                <div class="post-prev-img">
                                    <a href="shop-single-dark.html" tabindex="-1"><img src="/rhythm/images/shop/shop-prev-1.jpg" alt="" class="wow scaleOutIn" data-wow-duration="1.2s" /></a>
                                    <div class="intro-label">
                                        <span class="badge badge-danger bg-red">Sale</span>
                                    </div>
                                </div>
                                <div class="post-prev-title text-center mb-10">
                                    <a href="shop-single-dark.html">Polo Applique Jersey</a>
                                </div>
                                <div class="post-prev-text text-center">
                                    <del>
                                        $150.00
                                    </del>
                                    &nbsp;<strong>$94.75</strong>
                                </div>
                                <div class="post-prev-more text-center">
                                    <a href="#" class="btn btn-mod btn-w btn-round"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                </div>
                            </div>
                            <!-- End Shop Item -->
                            
                            <!-- Shop Item -->
                            <div class="col-sm-6 col-md-3 col-lg-3 mb-md-50">
                                <div class="post-prev-img">
                                    <a href="shop-single-dark.html" tabindex="-1"><img src="/rhythm/images/shop/shop-prev-2.jpg" alt="" class="wow scaleOutIn" data-wow-duration="1.2s" /></a>
                                </div>
                                <div class="post-prev-title text-center mb-10">
                                    <a href="shop-single-dark.html">Pique Polo Shirt</a>
                                </div>
                                <div class="post-prev-text text-center">
                                    <strong>$28.99</strong>
                                </div>
                                <div class="post-prev-more text-center">
                                    <a href="#" class="btn btn-mod btn-w btn-round"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                </div>
                            </div>
                            <!-- End Shop Item -->
                            
                            <!-- Shop Item -->
                            <div class="col-sm-6 col-md-3 col-lg-3 mb-md-50">
                                <div class="post-prev-img">
                                    <a href="shop-single-dark.html" tabindex="-1"><img src="/rhythm/images/shop/shop-prev-3.jpg" alt="" class="wow scaleOutIn" data-wow-duration="1.2s" /></a>
                                </div>
                                <div class="post-prev-title text-center mb-10">
                                    <a href="shop-single-dark.html">Longline Long Sleeve</a>
                                </div>
                                <div class="post-prev-text text-center">
                                    <strong>$39.99</strong>
                                </div>
                                <div class="post-prev-more text-center">
                                    <a href="#" class="btn btn-mod btn-w btn-round"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                </div>
                            </div>
                            <!-- End Shop Item -->
                            
                            <!-- Shop Item -->
                            <div class="col-sm-6 col-md-3 col-lg-3 mb-md-50">
                                <div class="post-prev-img">
                                    <a href="shop-single-dark.html" tabindex="-1"><img src="/rhythm/images/shop/shop-prev-4.jpg" alt="" class="wow scaleOutIn" data-wow-duration="1.2s" /></a>
                                </div>
                                <div class="post-prev-title text-center mb-10">
                                    <a href="shop-single-dark.html">Shirt Floral Sleeves</a>
                                </div>
                                <div class="post-prev-text text-center">
                                    <strong>$85.99</strong>
                                </div>
                                <div class="post-prev-more text-center">
                                    <a href="#" class="btn btn-mod btn-w btn-round"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                </div>
                            </div>
                            <!-- End Shop Item -->
                        
                        </div>
                        
                    </div>
                </section>
                <!-- End Shop Section -->