<!-- Home Section -->
<section class="home-section bg-dark-alfa-70 parallax-5" data-background="/img/homepage.jpg" id="home">
    <div class="container min-height-100vh d-flex align-items-center pt-100 pb-100">

        <!-- Hero Content -->
        <div class="home-content">
            <div class="wow fadeInUpShort" data-wow-delay=".1s">
                <h1 class="hs-line-1 opacity-085 mb-70 mb-sm-40">{{ meta.siteName }}</h1>
            </div>
            <div class="wow fadeInUpShort" data-wow-delay=".2s">
                <p class="hs-line-6 opacity-07">
                    Expand your possibilities
                </p>
            </div>
        </div>
        <!-- End Hero Content -->

        <!-- Scroll Down -->
        <div class="local-scroll scroll-down-wrap wow fadeInUpShort" data-wow-offset="0">
            <a href="#about" class="scroll-down opacity-085"><i class="scroll-down-icon"></i><span class="sr-only">Scroll to the next section</span></a>
        </div>
        <!-- End Scroll Down -->

    </div>
</section>
<!-- End Home Section -->