<!-- Contact Section -->
<section class="page-section bg-dark-lighter light-content" id="contact">
    <div class="container relative">

        <div class="text-center mb-80 mb-sm-50">
            <h2 class="section-title">Contact</h2>
            <p class="section-title-descr">
                We helpen je graag verder
            </p>
        </div>

        <div class="row mb-60 mb-xs-40">

            <div class="col-md-10 offset-md-1">
                <div class="row">

                    <!-- Phone -->
                    <div class="col-sm-6 col-lg-4 pb-20">
                        <div class="contact-item wow fadeScaleIn" data-wow-delay="0" data-wow-duration="1s">
                            <div class="ci-icon">
                                <i class="fa fa-phone-alt"></i>
                            </div>
                            <div class="ci-title">
                                Bel ons
                            </div>
                            <div class="ci-text">
                                +32 444 123 567
                            </div>
                        </div>
                    </div>
                    <!-- End Phone -->

                    <!-- Address -->
                    <div class="col-sm-6 col-lg-4 pb-20">
                        <div class="contact-item wow fadeScaleIn" data-wow-delay=".1s" data-wow-duration="1s">
                            <div class="ci-icon">
                                <i class="fa fa-map-marker-alt"></i>
                            </div>
                            <div class="ci-title">
                                Address
                            </div>
                            <div class="ci-text">
                                Leuven
                            </div>
                            <div class="ci-link">
                                <a href="https://goo.gl/maps/7Vw1PBhxx5BaXStr8" target="_blank">See on the Map</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Address -->

                    <!-- Email -->
                    <div class="col-sm-6 col-lg-4 pb-20">
                        <div class="contact-item wow fadeScaleIn" data-wow-delay=".2s" data-wow-duration="1s">
                            <div class="ci-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="ci-title">
                                Email
                            </div>
                            <div class="ci-text">
                                info@t3ack.be
                            </div>
                            <div class="ci-link">
                                <a href="mailto:support@bestlooker.pro">Contacteer ons</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Email -->

                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Contact Section -->