<!-- Call Action Section -->
<section class="page-section bg-dark light-content">
    <div class="container relative">
        <div class="row">

            <!-- Images -->
            <div class="col-lg-5 mb-md-60 mb-xs-30">
                <div class="call-action-2-images">

                    <div class="call-action-2-image-1">
                        <img src="/rhythm/images/promo-3.jpg" alt="" class="wow scaleOutIn" data-wow-duration="1.2s" data-wow-offset="255" />
                    </div>

                    <div class="call-action-2-image-2">
                        <img src="/rhythm/images/promo-4.jpg" alt="" class="wow scaleOutIn" data-wow-duration="1.2s" data-wow-offset="134" />
                    </div>

                    <div class="call-action-2-image-3">
                        <img src="/rhythm/images/promo-5.jpg" alt="" class="wow scaleOutIn" data-wow-duration="1.2s" data-wow-offset="0" />
                    </div>

                </div>
            </div>
            <!-- End Images -->

            <!-- Text -->
            <div class="col-lg-7 wow fadeInUpShort" data-wow-duration="1.2s" data-wow-offset="255">

                <h2 class="section-title mb-50 mb-sm-20">Waarom voor T3ack kiezen?</h2>

                <dl class="call-action-2-text mb-60 mb-sm-30">
                    <dt>
                        T3ack sports werkt op maat om jouw doelen te bereiken.
                    </dt>
                    <dd>
                       Met specialisten in verschillende uithoudingssporten zoeken we voor elke atleet het ideale traject uit om tot een optimale prestatie te komen.
                       <br />
                       We voorzien de juiste trainingen voor topsporters, competi tieve atleten en recreatieve sporters.   </dd>
                    <dt>
                        Onze trainers hebben jarenlange ervaring in wielrennen, triatlon, lopen, zwemmen en roeien.
                    </dt>
                    <dd>
                        Allen baseren ze hun trainingsschema's op de trainingsvisie van Jan Olbrecht. 
                        <br />
                        Deze inspanningsfysioloog ligt mee aan de basis van talrijke sportieve successen van onder andere Luc Van L ierde, Isaac Kimeli,
... </dd>
                    <dt>
                        We werken samen met verschillende experten in de sport die ons ondersteunen om het maximale uit de sporter te halen.
                    </dt>
                    <dd>
                        Integer non dapibus diam, ac eleifend lectus. Praesent sed nisi eleifend, fermentum orci sit amet, iaculis libero interdum.
                    </dd>
                </dl>
                
                <div class="local-scroll">
                    <a href="#" class="btn btn-mod btn-w btn-large btn-round">Ontdek ons aanbod</a>&nbsp;&nbsp;
                    <a href="#" class="btn btn-mod btn-w btn-large btn-round">Contacteer ons voor meer info</a>
                </div>

            </div>
            <!-- End Text -->

        </div>
    </div>
</section>
<!-- End Call Action Section -->

 

