<!-- Blog Section -->
<section class="page-section bg-dark light-content" id="blog">
    <div class="container relative">
        
        <div class="text-center mb-80 mb-sm-50">
            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                    <h2 class="section-title">Our Blog</h2>
                    <p class="section-title-descr">
                        The latest news in our blog
                    </p>
                </div>
                <div class="col-sm-3 text-sm-end pt-30 pt-xs-0">
                    <a href="blog-classic-sidebar-right-dark.html" class="section-more">Our Blog <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        
        <div class="row">
            
            <!-- Post Item -->
            <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50">
                
                <div class="post-prev-img">
                    <a href="blog-single-sidebar-right-dark.html" tabindex="-1"><img src="/rhythm/images/blog/post-prev-1.jpg" alt="" class="wow scaleOutIn" data-wow-duration="1.2s" /></a>
                </div>
                
                <h3 class="post-prev-title">
                    <a href="blog-single-sidebar-right-dark.html">Meet the New Web Design Trends</a>
                </h3>
                
                <div class="post-prev-info">
                    <a href="">John Doe</a> • 10 December
                </div>
                
                <div class="post-prev-text">
                    Lorem ipsum dolor sit amet, rembe adipiscing elite. Inwege maximus ligula semper metusere pellentesque mattis. Maecenas volutpat, diam enime volutpa. 
                </div>
                
                <div class="post-prev-more">
                    <a href="blog-single-sidebar-right-dark.html" class="text-link" tabindex="-1">Learn More</a>
                </div>
                
            </div>
            <!-- End Post Item -->
            
            <!-- Post Item -->
            <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50">
                
                <div class="post-prev-img">
                    <a href="blog-single-sidebar-right-dark.html" tabindex="-1"><img src="/rhythm/images/blog/post-prev-2.jpg" alt="" class="wow scaleOutIn" data-wow-duration="1.2s" /></a>
                </div>
                
                <h3 class="post-prev-title">
                    <a href="blog-single-sidebar-right-dark.html">Minimalistic Product Design</a>
                </h3>
                
                <div class="post-prev-info">
                    <a href="">John Doe</a> • 9 December
                </div>
                
                <div class="post-prev-text">
                    Proin fringilla augue at maximus vestibulum. Nam pulvi vitae neque et porttitor. Praesent sed nisi eleifend, lorem fermentum ac ante lorem ipsum sit amet. 
                </div>
                
                <div class="post-prev-more">
                    <a href="blog-single-sidebar-right-dark.html" class="text-link" tabindex="-1">Learn More</a>
                </div>
                
            </div>
            <!-- End Post Item -->
            
            <!-- Post Item -->
            <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50">
                
                <div class="post-prev-img">
                    <a href="blog-single-sidebar-right-dark.html" tabindex="-1"><img src="/rhythm/images/blog/post-prev-3.jpg" alt="" class="wow scaleOutIn" data-wow-duration="1.2s" /></a>
                </div>
                
                <h3 class="post-prev-title">
                    <a href="blog-single-sidebar-right-dark.html">Clean Style in the Web</a>
                </h3>
                
                <div class="post-prev-info">
                    <a href="">John Doe</a> • 7 December
                </div>
                
                <div class="post-prev-text">
                    Ember adipiscing elite curabitur iaculis accumsan augu nec finibus mauris pretium eu. Duis placerat ex gravida nibh tristique ultricies eros lorem blandit. 
                </div>
                
                <div class="post-prev-more">
                    <a href="blog-single-sidebar-right-dark.html" class="text-link" tabindex="-1">Learn More</a>
                </div>
                
            </div>
            <!-- End Post Item -->                            
            
        </div>
        
    </div>
</section>
<!-- End Blog Section -->