
<!-- Call Action Section -->
<section class="small-section bg-dark light-content">
    <div class="container relative">
        <div class="row wow fadeInUpShort">
            <div class="col-md-8 offset-md-2 text-center">
                <h3 class="call-action-1-heading">Want to discuss your new project?</h3>
                <div class="call-action-1-decription mb-60 mb-sm-30">
                    Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Integer non dapibus diam, ac eleifend lectus. Duis placerat ex gravida nibh tristique ultricies eros lorem blandit.
                </div>

                <div class="local-scroll">
                    <a href="pages-contact-1-dark.html" class="btn btn-mod btn-w btn-large btn-round">Let's Talk</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Call Action Section -->