<!-- Shop Section -->
<section class="page-section bg-dark light-content">
    <div class="container relative">
        
        <div class="text-center mb-80 mb-sm-50">
            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                    <h2 class="section-title">Onze formules</h2>
                    {# <p class="section-title-descr">
                        Voor atleten met een uitdaging.
                    </p> #}
                </div>
                <div class="col-sm-3 text-sm-end pt-30 pt-xs-0">
                    <a href="shop-columns-3col-dark.html" class="section-more">
                        Meer info <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        
        <div class="row">
            <!-- Shop Item -->
            {% for formule in formules %}

            <div class="col-sm-6 col-md-3 col-lg-3 mb-md-50">
                <div class="post-prev-img">
                    <a href="{{ formule.link }}" tabindex="-1">
                        <img src="{{ formule.image }}" alt="{{ formule.name }}" class="wow scaleOutIn" data-wow-duration="1.2s" />
                    </a>
                    {# <div class="intro-label">
                        <span class="badge badge-danger bg-red">Sale</span>
                    </div> #}
                </div>
                <div class="post-prev-title text-center mb-10">
                    <a href="{{ formule.link }}"> {{ formule.name }}</a>
                </div>
                <div class="post-prev-text text-center">
                    &nbsp;<p>{{ formule.price }}</p>
                </div>
                <div class="post-prev-detail text-center">
                {% for type in formule.options %}
                    &nbsp;{{ type.name }}<br />
                {% endfor %}
                </div>
                <div class="post-prev-more text-center">
                    <a href="{{ formule.link }}" class="btn btn-mod btn-w btn-round">Meer info</a>
                </div>
            </div>
            {% endfor %}
            <!-- End Shop Item -->
        </div>
        
    </div>
</section>
<!-- End Shop Section -->