<!-- Features Section -->
<section class="page-section bg-dark-lighter light-content">
    <div class="container relative">
        
        <div class="text-center mb-80 mb-sm-50">
            <h2 class="section-title">Features</h2>
            <p class="section-title-descr">
                What will you get if you choose us?
            </p>
        </div>
        
        <!-- Grid -->
        <div class="alt-service-grid">
            <div class="row">
                
                <!-- Item -->
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="alt-service-item wow fadeScaleIn" data-wow-delay="0" data-wow-duration="1s">
                        <div class="alt-service-icon">
                            <i class="fa fa-paper-plane"></i>
                        </div>
                        <h3 class="alt-services-title">Branding</h3>
                        <div class="alt-services-descr">Lorem ipsum dolor sit amet,  elit. Vitae gravida nibh maorbi dignissim nunc at risus convallis.</div>
                    </div>
                </div>
                <!-- End Item -->
                
                <!-- Item -->
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="alt-service-item wow fadeScaleIn" data-wow-delay=".1s" data-wow-duration="1s">
                        <div class="alt-service-icon">
                            <i class="fa fa-cogs"></i>
                        </div>
                        <h3 class="alt-services-title">Web Design</h3>
                        <div class="alt-services-descr">Vivamus neque orci, ultricies blandit ultrici vel, semper interdum elit, non placerat suscipit.</div>
                    </div>
                </div>
                <!-- End Item -->
                
                <!-- Item -->
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="alt-service-item wow fadeScaleIn" data-wow-delay=".2s" data-wow-duration="1s">
                        <div class="alt-service-icon">
                            <i class="fa fa-feather"></i>
                        </div>
                        <h3 class="alt-services-title">Logo Design</h3>
                        <div class="alt-services-descr">Lorem ipsum dolor sit amet,  elit. Vitae gravida nibh. Morbi nunc at risus convallis.</div> 
                    </div>
                </div>
                <!-- End Item -->
                
                <!-- Item -->
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="alt-service-item wow fadeScaleIn" data-wow-delay=".3s" data-wow-duration="1s">
                        <div class="alt-service-icon">
                            <i class="fa fa-life-ring"></i>
                        </div>
                        <h3 class="alt-services-title">Support</h3>
                        <div class="alt-services-descr">Semper interdum ultricies elit, non placerat nisi suscipit. Dignissim nunc at risus convallis.</div>
                    </div>
                </div>
                <!-- End Item -->
                
            </div>
        </div>
        <!-- End Grid -->
        
    </div>
</section>
<!-- End Features Section -->