<!-- About Section -->
<section class="page-section bg-dark light-content" id="about">
    <div class="container relative">

        <div class="mb-120 mb-sm-50 mb-xs-20">
            <div class="row section-text">

                <div class="col-md-12 col-lg-4 mb-md-50 mb-xs-30">
                    <div class="lead-alt wow linesAnimIn" data-splitting="lines">
                        Our mission is to make design simple and useful.
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-sm-50 mb-xs-30 wow linesAnimIn" data-splitting="lines">
                    Lorem ipsum dolor sit amet conseur adipisci inerene maximus ligula sempe metuse pelente mattis. Maecenas volutpat, diam eni sagittise quame porta quam. Sed id dolor consectetur fermentum volutpat accumsan purus.
                </div>

                <div class="col-md-6 col-lg-4 mb-sm-50 mb-xs-30 wow linesAnimIn" data-splitting="lines">
                    Etiam sit amet fringilla lacus susantebe sit ullamcorper pulvinar neque porttitor. Integere lectus. Praesent sede nisi eleifend fermum orci amet, iaculis libero. Donec vel ultricies purus. Name dictum sem ipsumebe euliquam.
                </div>

            </div>
        </div>

        <!-- Counters -->
        <div class="count-wrapper">
            <div class="row">

                <!-- Counter Item -->
                <div class="col-md-6 col-lg-3 mb-md-30">
                    <div class="count-item">
                        <div class="count-bg wow scalexIn"></div>
                        <div class="relative wow fadeIn" data-wow-delay="1s">
                            <div class="count-number">
                                320
                            </div>
                            <div class="count-descr">
                                <i class="fa fa-briefcase"></i>
                                <span class="count-title">Projects Done</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Counter Item -->

                <!-- Counter Item -->
                <div class="col-md-6 col-lg-3 mb-md-30">
                    <div class="count-item">
                        <div class="count-bg wow scalexIn"></div>
                        <div class="relative wow fadeIn" data-wow-delay="1.1s">
                            <div class="count-number">
                                150
                            </div>
                            <div class="count-descr">
                                <i class="fa fa-heart"></i>
                                <span class="count-title">Happy Clients</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Counter Item -->

                <!-- Counter Item -->
                <div class="col-md-6 col-lg-3 mb-md-30">
                    <div class="count-item">
                        <div class="count-bg wow scalexIn"></div>
                        <div class="relative wow fadeIn" data-wow-delay="1.2s">
                            <div class="count-number">
                                933
                            </div>
                            <div class="count-descr">
                                <i class="fa fa-coffee"></i>
                                <span class="count-title">Coffee Cups</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Counter Item -->

                <!-- Counter Item -->
                <div class="col-md-6 col-lg-3 mb-md-30">
                    <div class="count-item">
                        <div class="count-bg wow scalexIn"></div>
                        <div class="relative wow fadeIn" data-wow-delay="1.3s">
                            <div class="count-number">
                                975
                            </div>
                            <div class="count-descr">
                                <i class="fa fa-lightbulb"></i>
                                <span class="count-title">Great Ideas</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Counter Item -->

            </div>
        </div>
        <!-- End Counters -->

    </div>
</section>
<!-- End About Section -->